[submodule "thirdparty/glad"]
	path = thirdparty/glad
	url = https://github.com/rwols/glad.git
	branch = master
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
