[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "lib/SDL-mirror"]
	path = lib/SDL-mirror
	url = https://github.com/spurious/SDL-mirror.git
[submodule "lib/freetype2"]
	path = lib/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
